@charset "UTF-8";

.imgsrc {
	width: 100%;
	height: auto;
}

.imgbox {
	width: 100%;
	height: auto;
} 
.sbtn{
	font-family: "Single Day";
}


.season {
	width: 100%;
	height: 330px;
}

.title{
	letter-spacing: 9px;
    font-family: "Single Day";
}

.aname{
	letter-spacing: 9px;
    font-family: "Single Day";
}
.info{
	font-family: "Cute Font";
	font-size : 18pt;
}
.bbtn{
	font-family: "Single Day";
    border: none;
    display: inline-block;
    padding: 20px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.hbtn{
	font-family: "Single Day";
    border: none;
    display: inline-block;
    padding: 20px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}