@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

html{
	overflow: hidden;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
}
.tbFont{
	font-family: 'Nanum Gothic Coding', monospace;
}
.slides {
    padding: 0;
    width: 303px;
    height: 210px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 303px;
    height: 210px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.nav label {
    width: 40px;
    height: 100%;
    display: none;
    position: absolute;

  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 80pt;
    text-align: center;
    line-height: 180px;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: absolute;
text-align: center;
}

.nav-dots .nav-dot {
top: -5px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
background: rgba(0, 0, 0, 0.8);
}

.reviewIMG{
	width: 160px;
	height: 150px;
}

.Panel__title{
   background-color:#FFCD36;
   border-radius: 15px;
   top: 60px;
}
.Panel__title h2{
   padding: 7px 0px;
}


body {
   margin: 0;
}

/*눈모양*/

.topHeader__eyes {
   display: flex;
   position: absolute;
   top: 27px;
   left: 240px;
}

.eye {
   position: relative;
   width: 60px;
   height: 60px;
   border: 4px solid black;
   border-radius: 50%;
   background-color: white;
   transform: scaleX(0.9);
}

.topHeader__eye1 {
   left: 7px;
}

.topHeader__eye2 {
   left: -7px;
}

.topHeader__dot {
   position: absolute;
   left: 10px;
   bottom: 0;
   width: 30px;
   height: inherit;
}

.topHeader__dot:before {
   content: '';
   display: block;
   position: absolute;
   left: 0;
   bottom: 0;
   width: inherit;
   height: 30px;
   border-radius: 50%;
   background-color: black;
}

.topHeader__dot:after {
   content: '';
   display: block;
   position: absolute;
   left: 12px;
   bottom: 12px;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: white;
}

/* top Header */
.topHeader{
	display: flex;
	background-color: #008080;
	border-radius: 20px;
}
.topHeader__column{
	display: flex;
	width: 50%;
	flex-direction: column;
	padding-left: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}
.topHeader__column-backwhite{
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: 30px;
}

.topHeader__desc{
	font-family: 'Nanum Brush Script', cursive;
	font-size: 20px;
	color: #ffcd36;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.topHeader__desc i{
	margin-left: 10px;
}
.topHeader__logo{
	letter-spacing : 9px;
	font-family: 'Gugi', cursive;
	font-size: 40px;
	padding-left: 10px;
}

.topHeader__loginform{
	height: 100%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
}
.topHeader__input{
	height: 40px;
	padding: 0px 10px;
	border: none;
	border-radius: 5px;
	margin: 0px 5px;
}

.topHeader__btn{
	background-color: #ffcd36;
	width: 125px;
	border-radius: 5px;
	margin: 0px 3px;
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.topHeader__logoutForm{
	display: flex;
	height: 100%;
	padding-right: 80px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}
logoutForm__Col{
	height: 50%;
}
.logoutForm__LeftCol{
	display: flex;
}
.logoutForm__RightCol{
	display:flex;
}
.topHeader__welcomeId{
	display: inline-block;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 -1px #008080;
}
.topHeader__welcome{
	display: inline-block;
	text-shadow: -1px 0 black, 0 -1px #008080;
	font-size: 20px;
	color: #FFCD36;
	margin-right: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
	padding: 0px 10px;
}
.map_wrap2{
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	color: #008080;
	bottom: 65px;
	left:29%;
	z-index: 3;
}


