
.mw400700 {
	max-width: 450px;
	height: 800px;
}
.mw500 {
	max-width: 500px;
}
.mw550 {
	max-width: 550px;
}
.mw600 {
	max-width: 600px;
}
.mw650 {
	max-width: 650px;
}
.mw700 {
	max-width: 700px;
}
.mw750 {
	max-width: 750px;
}
.mw800 {
	max-width: 800px;
}
.radius1{
	border-radius: 15px 50px;
}
.mt5 {
	margin-top: 5px;
}

.mt7 {
	margin-top: 7px;
}

.mt10 {
	margin-top: 10px;
}
.mt50 {
	margin-top: 50px;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;
}
.mb0 {
	margin-bottom: 0px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}
.mtb50 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.txt11 {
	font-size: 11pt;
}

.txt14 {
	font-size: 14pt;
}

.txt16 {
	font-size: 16pt;
}

.txt24 {
	font-size: 24pt;
}

.clsbold {
	font-weight: bold;
}


.block {
	display: block;
}
.inblock {
	display: inline-block;
}

.w200 {
	width: 200px;
}
.h50 {
	height: 50px;
}
.h30 {
	height: 30px;
}
.h20 {
	height: 20px;
}
.h10 {
	height: 10px;
}

.mgnh10 {
	margin: 5px 10px;
}

.pdr10 {
	padding-right: 10px;
}

.pdl10 {
	padding-left: 10px;
}

.pdl20 {
	padding-left: 20px;
}

.pdl23 {
	padding-left: 23px;
}

.pdl30 {
	padding-left: 30px;
}

.pdl50 {
	padding-left: 50px;
}

.pd10 {
	padding: 10px;
}

.pdh1 {
	padding: 0px 1px;
}

.pdh3 {
	padding: 0px 3px;
}

.pdh10 {
	padding: 0px 5px;
}

.clslbl {
	font-size: 12pt;
	color: gray;
	line-height: 250%;
}

.imgbox {
	display: inline-block;
	width: 105px;
	height: 105px;
	margin-top: 12px;
}
.imgsrc {
	width: 100px;
	height: 100px;
}

.mt0 {
	margin-top: 0px!important;
}

.pdb10 {
	padding-bottom: 10px;
}

.pd0 {
	padding: 0px;
}

.w250 {
	width: 250px;
}

.infoAvtBox {
	width: 100%;
	height: auto;
}

.ft12 {
	font-size: 9pt;
}

.ft15 {
	font-size: 15pt;
}

.pw{
	padding: 17px 30px;
	text-align: left;
	letter-spacing : 5px;
	font-family : "Jua","Poor Story","Single Day","Stylish";
}
.ft18px {
	font-size: 16pt;
}

.contBox {
	width: 100%;
	height: 250px;;
}

.mh3 {
	margin: 3px 0px;
}

.mh5 {
	margin: 5px 0px;
}

.mh10 {
	margin: 10px 0px;
}
.ml10{
	margin: 0 10px 0;
}
.btn {
	height: 20px;
	line-height: 30%;
}

.btnBox {
	height: 20px;
	line-height: 30%;
}

span#wbtn {
	height: 20px;
	line-height: 30%;
}

.avtbox100 {
	width: 110px;
	height: 100px;
}

.avtimg100 {
	width: 98px;
	height: 98px;
}

.avtbox150 {
	width: 160px;
	height: 150px;
}

.avtimg150 {
	width: 148px;
	height: 148px;
}

.h70 {
	height: 70px;
}

.h72 {
	height: 72.5px;
}

.h90 {
	height: 90px;
}

.pb3 {
	padding-bottom: 3px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}

.lineH30 {
	line-height: 30%;
}

.lineH40 {
	line-height: 40%;
}

.lineH50 {
	line-height: 50%;
}
.ptxt {
	line-height: 40%;
}

.dfr {
	height: 30px;
}
.idck{
	font-size: 8pt;
}
.chk_all_txt {
    text-decoration: underline;
    word-break: break-all;
}
.input_chk {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.terms_box {
    position: relative;
    overflow: auto;
    height: 88px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-base-color: #d9d9d9;
    scrollbar-arrow-color: #8e8e8e;
    scrollbar-3dlight-color: #d9d9d9;
    scrollbar-darkshadow-color: #d9d9d9;
    scrollbar-face-color: #d9d9d9;
    scrollbar-highlight-color: #d9d9d9;
    scrollbar-shadow-color: #d9d9d9;
    scrollbar-track-color: #f2f2f2;
    -webkit-overflow-scrolling: touch;
}

.policy_summary {
    font-size: 12px;
    line-height: 16px;
    color: #666;
}

.check_circle {
	width: 45px;
	height: 45px;
}

.error {
	display:none;
    margin: 8px 0 -1px;
    font-size: 10px;
    line-height: 14px;
    color: red;
    padding-bottom: 20px;
}

.startbtn {
	padding-top: 17px;
	font-size : 45px;
	width: 300px;
	height: 100px;
}
.startbtn > a {
	text-decoration:none;
	padding-top: 17px;
	font-size : 45px;
}

.startbtn:hover {
	font-weight:bold;
	padding-top: 17px;
	font-size : 45px;
	width: 300px;
	height: 100px;
}


/* ȸ������ */
.color01 {
    color: #f68b2e !important;
}

#subTopWrap { width:100%; height: 384px; border-bottom:1px solid #eeeeee }
#subContentWrap { width:900px; display:flex; padding-top:50px; margin:0 auto; }
#subContentWrap .subContArea { width:900px; vertical-align:top; }
#subContentWrap .subContArea.full { width:100%; }
#subContentWrap .subContArea .headingTitleArea { position:relative; }
#subContentWrap .subContArea .headingTitleArea h3.headingTitle { padding:0 0 18px; font-size:32px; font-weight:500; text-align:center; color:#4e4f51; }
#subContentWrap .subContArea .headingTitleArea .headingText { padding-bottom:35px; font-size:14px; color:#727476; text-align:center; }

/* 글씨체 변경 */
.headingTitle{
	letter-spacing:5pt;
	font-family : "Single Day","Stylish","Gamja Flower";
}
/* ==============================
* table
* ============================== */
.tableArea { width:100%; }
.tableArea table.list { width:100%; border-top:1px solid #727476; margin-bottom:20px; box-sizing:border-box; }
.tableArea table.list th { background:#f0f0f2; border-right:1px solid #e2e2e4; padding:14px; font-size: 18px; color:#4e4f51; font-weight:400; box-sizing:border-box; }
.tableArea table.list td { border-right:1px solid #e2e2e4; border-bottom:1px solid #e2e2e4; font-size: 14px; color:#727476; text-align:center; padding:14px;  box-sizing:border-box; line-height:22px;}
.tableArea table.list th.last, .tableArea table.list td.last { border-right:none; }
.tableArea table.list tfoot td {position: static; background: #f0f0f2;}
.tableArea table.list td.tdEtc { background:#f0f0f2;font-size: 14px; color:#4e4f51; font-weight:400; }
.tableArea table.list td a:hover { text-decoration: underline; color: #4171df; }
.tableArea .tableTitleArea { display:table; width:100%; margin:50px 0 0 0; }
.tableArea .tableTitleArea .tableTitle { display:table-cell; padding:0 0 15px 0; color:#292a2d; font-size:22px; font-weight:500; }
.tableArea .tableTitleArea .tableTitle small {padding-left: 13px; font-size: 16px; color: #727476;}
.tableArea .tableTitleArea .tableComment { display:table-cell; padding:0 0 7px 0; vertical-align:bottom; text-align:right; color:#727476; font-size:12px; font-weight:400; }
.tableArea .tableTitleArea .tableBtnSet { position:relative; display:table-cell; padding:0 0 7px 0; vertical-align:middle; text-align:right; }
.tableNoti { font-size:12px; line-height:20px; color:#727476; }
.tableArea table.view { width:100%; border-top:2px solid #727476; margin-bottom:20px; box-sizing:border-box; background: #fff;}
.tableArea table.view th { font-family : "Jua","Do Hyeon","Single Day";letter-spacing : 1pt; background:#f0f0f2; /*width:210px;*/ border-bottom:1px solid #e2e2e4; padding:17px 30px; font-size: 15px; color:#222222; font-weight:400; text-align:left; box-sizing:border-box; }
.tableArea table.view td { font-family : "Jua","Poor Story","Single Day","Stylish";letter-spacing : 2pt;border-bottom:1px solid #e2e2e4; font-size: 14px; color:#727476; text-align:left; padding:12px;  box-sizing:border-box; line-height:22px;}
.tableArea table.view .note { font-size:13px; line-height:18px; color:#767676; padding:10px 0 0 0; }

.tableArea table.view.tblCenterAlign th {width:auto; text-align:center;}
.tableArea table.view.tblCenterAlign td {text-align:center;}
.tableArea table.view.tblCenterAlign thead th {background:#f0f0f2;}
.tableArea table.view.tblCenterAlign tbody th {background:#f8f8f8;}
.tableArea table.view.tblBrdAll th,
.tableArea table.view.tblBrdAll td {border:1px solid #e2e2e4; border-left:none;}
.tableArea table.view.tblBrdAll thead tr th:last-child {border-right:none;}
.tableArea table.view.tblBrdAll tr td:last-child {border-right:none;}
.tableArea.compareTbl table.view th.compareThColor {background:#f2f2fc;}
.tableArea.compareTbl table.view th.thFontBig {font-size:16px;}
.tableArea.compareTbl table.view th.compareThColor.thFontBig {color:#5b648a;}
.tableArea + .bigTitle {padding-top:32px;}

.tblEle {display:table; width:100%;}
.tblEle > .ele {display:table-cell; vertical-align:middle;}
.tblEle > .ele.mini {text-align:right; width:10px; padding-left:10px; white-space:nowrap;}
.tblEle > .ele.mini.verPC {display:table-cell !important;}
.tblEle > .ele .inpAlertMsg {padding-top:0;}
.tblEle.ibType {max-width: 480px;}
.tblEle.ibType > .ele input[type="text"],
.tblEle.ibType > .ele input[type="password"] {width: 100%;}
.inpArea + .tblEle {padding-top:10px;}

/* ==============================
* input
* ============================== */
input[type="text"], input[type="password"], input[type="number"], input[type="file"] { /*min-width:140px;*/ min-width:40px; /*width: 80px;*/ max-width: 100%; font-size:14px; background:#fff; border:1px solid #cdcdd1; padding:3px 10px; color:#4e4f51; height:40px; line-height:38px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="file"]:focus { border:1px solid #4171df; color:#4e4f51; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="file"]:disabled { background:#ebebeb; border:1px solid #cdcdd1; color:#dbdbdb; }
input[type="text"].error, input[type="password"].error, input[type="number"].error, input[type="file"].error { background:#fff; border:1px solid #f48b2f; color:#dbdbdb; }

/* ==============================
* select
* ============================== */
.selectBox { display:inline-block; font-size:14px; border:1px solid #cdcdd1; color:#4e4f51; height:40px; padding:0 30px 0 10px; }
.selectBox { -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url('/new_images/common/arrowSelect.png') no-repeat right 10px center; background-size:10px 6px; }
.selectBox::-ms-expand { display:none;}
.selectBox:disabled { background-color:#f2f2f2; color:#b5b5b5; }
.selectBox:focus { border:1px solid #2d4059; transition: all .3s ease; }
.selectBox.h30 { height:30px; }

/* ==============================
* checkbox
* ============================== */
.ui_checkBox { display:inline-block; position:relative; padding-left:36px; text-align:left; line-height:26px; vertical-align:middle;}
.ui_checkBox input { position:absolute; top:0; left:0; width:26px; height:26px; padding:0; margin:0; z-index:1; opacity:1; }
.ui_checkBox label { font-size:14px; cursor:pointer; }
.ui_checkBox label:after { content:''; display:block; position:absolute; top:0px; left:0; width:26px; height:26px; background:url('/new_images/common/checkboxSet.png') 0 0 no-repeat; background-size: 78px 26px; }
.ui_checkBox input:checked + label:after { background-position:-26px 0; }
.ui_checkBox input:disabled + label:after { background-position:0 0; } 
.ui_checkBox input:disabled + label.on:after { background-position:-52px 0; } 
.ui_checkBox input:checked:disabled + label:after { background-position:-52px 0; } 
.ui_checkBox + .ui_checkBox { margin-left:40px; }
.ui_checkBox + br + .ui_checkBox { margin-left:40px; }

.ui_checkBox.single {width:26px; height:26px; padding-left:26px;}
.ui_checkBox.single label { font-size:0; }


.addrCont {max-width:480px;}
.addrCont input[type="text"] {width:100%;}
.addrCont .addrContEle {margin-top:10px;}




/* ==============================
* button
* ============================== */

.btnGroup { display:block; text-align:center; }
.btnArea{ display:inline-block; vertical-align:middle; }

button.btnType1 , a.btnType1 {font-family : "Jua","Poor Story","Single Day","Stylish"; letter-spacing : 1pt; min-width:160px; display:inline-block; text-align:center; font-size:18px; line-height:50px; height:52px; padding:0 44px; }


#del{
	font-family : "Jua","Poor Story","Single Day","Stylish";
	letter-spacing : 5pt;
}
/* HTML Default */
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; width:100%; }
